<div class="content">
  <div class="clearfix"></div>
    <div class="teaser animated">
      <div class="text-shadow-light">
      </div>
    </div>
    <%= render "static_pages/block-2" %>
    <%= render "static_pages/block-3" %>
  <% yield %>
</div>
