<h1>Notifier#follow</h1>
<h3>Blog App</h3>
<p>
    Dear <b><%= @user.name %></b>,
</p>

<p>
  This is a email to notify that you was followed by <%= @current_user.nick_name %>
  <p>
    Now <%= @current_user.nick_name %> can see and comments in all your post
  </p>
</p>
